<!DOCTYPE html>
<html lang="en" ng-app="login">
    <head>
        <title>Listr: Automate your grocery listing</title>
        <% include includes/head %>
        <link rel="stylesheet" href="/resources/css/home.css" />
    </head>
    <body id="bootstrap-override">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <% include includes/navbar %> 
                <main class="row">
                    <div id="login-prompt" class="col-md-offset-4 col-md-4" >
                        <p class="text-center">
                            <button type="button" class="btn btn-primary btn-login">
                                Login
                            </button>
                        </p>
                        <p class="text-center">
                            <button type="button" class="btn btn-primary btn-login">
                                Create an Account
                            </button>
                        </p>
                    </div>
                </main>
                <footer class="row" id="footer-info">
                    <p id="copyright" class="text-right">
                        Copyright &copy; Michael Rhodes 2016.
                    </p>
                </footer>
            </div> <!-- end col-offset --> 
        </div> <!-- end row -->

        <% include includes/scripts %>
        <script src="resources/js/login.js"></script>
    </body>
</html>
