<!DOCTYPE html>
<html lang="en" ng-app="listr">
    <head>
        <title>Listr: Automate your grocery listing</title>
        <% include includes/head %>
        <link rel="stylesheet" href="/resources/css/home.css" />
    </head>
    <body id="bootstdap-override">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <% include includes/navbar %> 
                <div ng-view>
                </div>
                <% include includes/footer %>
            </div> <!-- end col-offset --> 
        </div> <!-- end row -->

        <% include includes/scripts %>
        <script src="resources/js/list.js"></script>
    </body>
</html>
