/*
 * The main prompt that askes the user to login or create an account when 
 * they aren't logged in.
 */
/*
 * div#login-prompt {
    background-color:#FAFAFA;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #E0E0E0;
}

div#login-prompt button.btn-login {
    background-color: #ff9800;
}
*/

div#login-prompt div.panel {
    border-radius: 5px;
    background-color: #FAFAFA;
}

div#login-prompt button.btn-primary {
    background: #ff9800;
    outline: 0;
}

tbody#bootstrap-override tr.item-row.low {
    background-color: #ef9a9a;
}

tbody#bootstrap-override tr.item-row.enough {
    background-color: #A5D6A7;
}

tbody#bootstrap-override tr.item-row.runningLow {
    background-color: #FFF59D;
}

div.panel-body button#addItem {
    background-color: #ff9800;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    border: .5px solid #E65100;
}

div.panel-body button#addItem:hover {
    background-color: #FF6F00;
}
