@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
    background-color:#FAFAFA;
    box-sizing: border-box;
}

/* remove round edges and change the background color */
#bootstrap-override nav {
    border-radius: 0px;
    background: #FAFAFA;
}

/* the logo inside the nav bar is orange */
a#logo {
    color:#ff9800; 
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* change the background color to orange when hovered over*/
#bootstrap-override ul a:hover {
    background-color: #ff9800;
}

/* footer for every site; information about the site */
footer#footer-info {
    background-color: #ff9800;
    color: #E0F7FA;
    height: 200px;
    margin: 10px auto;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px #E0E0E0;
}

p#copyright {
    font-family: "Courier New", Courier, monospace;
}




