@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
    background-color:#2E7D32;
    box-sizing: border-box;
}

/* remove round edges and change the background color */
#bootstrap-override nav {
    border-radius: 0px;
    background: #FAFAFA;
}

a#logo {
    color:#ff9800; 
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

div#link-collapse ul a {
    font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
}

div#link-collapse ul a:hover {
    background-color: #ff9800;
}

/* footer for every site; information about the site */
footer div.panel {
    background-color: #FAFAFA;
    color: #E0F7FA;
    height: 200px;
}

p#copyright {
    color: #ff9800;
}

